body,
html {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7f7f7;
}

.login-header {
    text-align: center;
    margin: 0;
}
.login-header p {
    margin: 0;
    font-size: 2em;
}

.login-header-text {
    padding: 40px 0; /* Increased padding */
}

.login-container-staff {
    display: flex;
    height: 100%;
    background-color: #f7f7f7;
}

.login-container-staff > div {
    flex: 1; /* Each div takes up half of the container */
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    max-width: 80%; /* Adjust the size of the logo */
    height: auto;
}

.logo-text {
    margin-top: 2rem;
    font-size: 3rem; /* Adjust the font size */
    font-weight: bold; /* Make the logo name bold */
}

.additional-text {
    margin-top: 10px;
    font-size: 1.2rem; /* Adjust the font size */
    color: #555; /* Adjust the color */
}

.login-card {
    display: flex; /* Set as flex container */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center children vertically */
    max-width: 90%;
    padding: 20px 20px 50px 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.login-card-staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    padding: 40px 40px 50px 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.login-card-staff h1 {
    margin: 0;
    font-size: 4rem; /* Increased font size */
    padding-top: 1.5rem;
}           

i {
    font-size: 14rem; /* Increased icon size */
}

.login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7f7f7;
}

.login-card input {
    margin-bottom: 20px; /* Increased margin */
    width: 100%;
    padding: 20px; /* Increased padding */
    box-sizing: border-box;
}

.login-card i {
    padding-top: 1.5rem;
}

.login-card-staff input {
    margin-bottom: 20px; /* Increased margin */
    width: 100%;
    padding: 20px; /* Increased padding */
    box-sizing: border-box;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.login-submit {
    margin-top: 2rem; /* Increased margin */
    /* font-size: 1.5rem;  */
}

.admin-container {
    display: flex;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}

.admin-left {
    flex: 2;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.admin-right {
    flex: 10;
    background-color: #627BCE;
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    overflow: hidden;
}

.admin-header {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.admin-content p {
    text-align: center;
    background-color: #627BCE;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 11px;
}

.admin-content {
    flex: 8;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.full-width-container {
    width: 100%;
    /* flex: 2; */
    display: flex;
    /* Add flex display to ensure children can use flex properties */
}

.add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 1rem;
    margin-right: 2rem;
}

.add-button-container p {
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    padding: 10px 20px;
    /* Some padding */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer/hand icon */
}

.contents {
    flex: 18;
    /* Occupies 90% of the vertical space */
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* Allow scrolling if content overflows */
    /* padding: 1rem; */
    /* Add padding to the contents area */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
}

.contents-box {
    flex: 1;
    /* Occupies all available space */
    background-color: #D9D9D9;
    /* Example background color */
    padding: 1rem;
    /* Add padding inside the contents box */
    border-radius: 10px;
    /* Example border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Example box shadow */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    margin: 2rem 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}